body
   font-family: RobotoDraft, sans-serif

input[type="month"], input[type="date"], input[type="time"]
   background-color: transparent
   border-color: white
   border-width: 0 0 1px 0
   color: white
   font-family: RobotoDraft, sans-serif
   font-size: 14pt
   outline: none
   &::-webkit-clear-button
      display: none
   &::-webkit-calendar-picker-indicator:hover
      background-color: transparent
      color: white

.toolbar-flex
   text-align: center

paper-toast span
   padding-left: 1em
   color: #eeff41
